body{
    margin: 0;
    padding: 0;
    margin-top: 70px;
    top: 70px;
    background-color: white;
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#contact{
  overflow: hidden;
}

/* start home page css */
.top-Nav-Bar{
  display: inline-flex;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 10px 10px 5px rgba(36, 36, 36, 0.5);
  background-color: rgb(35, 35, 35);
  z-index: 9999;
}

.homeNavBarForAllPages{
  display: inline-flex;
  color: lightgrey;
  width: 40%;
  position: fixed;
  float: right;
  right: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}

.logo{
  left: 0;
  height: 26px;
}

.logo img{
  height: 80px;
  width: 100px;
  position: fixed;
  z-index: 99;
  top: 0;
  margin-left: 20px;
}

.title12{
 justify-content: center;
 margin: auto;
  top: 0;
  float: right;
  overflow: hidden;

}

.title12 h3{
 font-size: 40px;
 font-weight: 400;
 z-index: 9999;
 top: 0;
 color: white;
}

.homeNavBarForAllPages a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
  background-color: #f1f1f1;
}
.homeNavBarForAllPages button{
  padding: 26px 16px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 18px;
  border-width: 0;
  margin: 0;
}
.homeNavBarForAllPages button:active{
  background-color:rgb(255, 255, 255);
}
.homeNavBarForAllPages button:before{
  background-color: #ffffff;
}
.homeNavBarForAllPages button:hover{
  background-color: #000000;
}
/* end of homenavbarforpages*/


#menu li a{
    background-color: #00ff40;
    color: #ffffff;
    z-index: 9999;
    display: block;
  }
 
/* The cover (background) */
.cover {
    /* Height & width depends on how you want to reveal the cover */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background: linear-gradient(106.5deg, rgba(2,0,.6,1) 0%, rgb(9, 69, 121) 23%, rgb(0, 247, 255) 93%); /* Background color */
    overflow-x: hidden; /* Disable horizontal scroll so that no scolling is allowedd by user on menu */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the cover */
  .cover-navigate {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .textForNavBar span {
    position: absolute; /* Fixed/sticky position */
    top: 0;/* Place the button at the top of the page */
    left: 20px; /* Place the button 30px from the left */
    z-index: 9999; /* Make sure it does not overlap with elements behind button */
    background: linear-gradient(106.5deg, rgba(2,0,.6,1) 0%, rgb(9, 69, 121) 23%, rgb(0, 247, 255) 93%); /* Set a background color for button */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 20px; /* size of font in the button */
    
  }
  /* The navigation links inside the overlay */
  .cover a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #17f607;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .cover a:hover, .cover a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .cover .howToCloseButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .cover a {font-size: 20px}
    .cover .howToCloseButton {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  




/* footer styles */
  footer{
    background: linear-gradient(106.5deg, rgb(244, 125, 244) 0%, rgb(248, 55, 255) 23%, rgb(247, 0, 255) 93%);
    width: 100%;
    bottom: 0;
  }
  /* black box for copyright text, bottom box */
  .footerContainer{
      width: 100%;
      padding: 70px 30px 20px;
  }
  .socialIcons{
      display: flex;
      justify-content: center;
  }
  .socialIcons a{
      text-decoration: none;
      padding:  10px;
      background-color: rgb(19, 19, 20);
      margin: 10px;
      border-radius: 50%;
  }
  .socialIcons a i{
      font-size: 2em;
      color: black;
      opacity: 0,9;
  }
  /* Hover affect on social media icon */
  .socialIcons a:hover{
      background-color: #eb0f0f;
      transition: 0.5s;
  }
  .socialIcons a:hover i{
      color: white;
      transition: 0.5s;
  }
  .footerNav{
      margin: 30px 0;
  }
  .footerNav ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
  }
  .footerNav ul li a{
      color:white;
      margin: 20px;
      text-decoration: none;
      font-size: 1.3em;
      opacity: 0.7;
      transition: 0.5s;
  
  }
  .footerNav ul li a:hover{
      opacity: 1;
  }
  .footerBottom{
      background-color: #000;
      padding: 20px;
      text-align: center;
  }
  .footerBottom p{
      color: white;
  }
  .designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;
  }
  @media (max-width: 700px){
      .footerNav ul{
          flex-direction: row;
      } 
      .footerNav ul li{
          width:100%;
          text-align: center;
          margin: 10px;
      }
      .socialIcons a{
          padding: 8px;
          margin: 4px;
      }
  }


  /* contact page css*/
  #contact{
    width: 100%;
  }

  .headerForHeader h1{
    margin-top: 80px;
    padding: 10px;
  color: #f1f1f1;
  text-shadow: 2px 2px rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(36, 36, 36, 0.5);
  font-weight: 600;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  }

  .headerForHeader p{
    padding: 10px;
    color: #f1f1f1;
  text-shadow: 2px 2px rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(36, 36, 36, 0.5);
  font-weight: 600;
  background-color: rgb(0, 0, 0, 0.8);
  }

  .headerForHeader{
    width: 100%;
  }

  .headerForHeader h1, p{
    justify-content: center;
    text-align: center;
    font-weight: 600;
    width: 100%;
  }

  .container{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .iframe{
    justify-content: center;
    display: flex;

  }

  

  

